<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <title>JPCC Kids</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
</head>

<body>
    <div style="align-content: center; margin-bottom: 5vh;">
        <br>
        <center><img src="{% static 'logo.jpg' %}" alt="" style=" height: 10vh; width: auto; border-radius: 12px;"/></center>
        <h2>Welcome to</h2>
        <h1>Pick a Miracle!</h1>
        <br><br>
        <div class="container">
            <center><div class="row" style="margin-bottom: 5vh;">
                <div class="col-sm">
                    <div id="1" class="box">
                        <p>1</p>
                        <button type="button" class="submit" onclick="remove(1)">Pick!</button>
                    </div>
                </div>
                <div class="col-sm">
                    <div id="2" class="box">
                        <p>2</p>
                        <button type="button" class="submit" onclick="remove(2)">Pick!</button>
                    </div>
                </div>
                <div class="col-sm">
                    <div id="3" class="box">
                        <p id="3">3</p>
                        <button type="button" class="submit" onclick="remove(3)">Pick!</button>
                    </div>
                </div>
                <div class="col-sm">
                    <div id="4" class="box">
                        <p>4</p>
                        <button type="button" class="submit" onclick="remove(4)">Pick!</button>
                    </div>
                </div>
                <div class="col-sm">
                    <div id="5" class="box">
                        <p>5</p>
                        <button type="button" class="submit" onclick="remove(5)">Pick!</button>
                    </div>
                </div>
            </div></center>
            <center><div class="row">
                <div class="col-sm">
                    <div id="6" class="box">
                        <p>6</p>
                        <button type="button" class="submit" onclick="remove(6)">Pick!</button>
                    </div>
                </div>
                <div class="col-sm">
                    <div id="7" class="box">
                        <p>7</p>
                        <button type="button" class="submit" onclick="remove(7)">Pick!</button>
                    </div>
                </div>
                <div class="col-sm">
                    <div id="8" class="box">
                        <p>8</p>
                        <button type="button" class="submit" onclick="remove(8)">Pick!</button>
                    </div>
                </div>
                <div class="col-sm">
                    <div id="9" class="box">
                        <p>9</p>
                        <button type="button" class="submit" onclick="remove(9)">Pick!</button>
                    </div>
                </div>
            </div></center>
        </div>  
    </div>
    
    <center><div class="container" style="margin-bottom: 10vh;">
        <div class="pictureBox">
            <img src="" alt="" id="pic"/>
        </div>
    </div></center>

    </div>

    <script>
        function remove(i) {
            box = document.getElementById(i)
            box.innerHTML = ""
            pic = document.getElementById("pic")

            if (i == 1) {
                pic.src="{% static '1.jpeg' %}";
            } else if (i == 2) {
                pic.src="{% static '2.jpeg' %}";
            }else if (i == 3) {
                pic.src="{% static '3.jpeg' %}";
            }else if (i == 4) {
                pic.src="{% static '4.jpeg' %}";
            }else if (i == 5) {
                pic.src="{% static '5.jpeg' %}";
            }else if (i == 6) {
                pic.src="{% static '6.jpeg' %}";
            }else if (i == 7) {
                pic.src="{% static '7.jpeg' %}";
            }else if (i == 8) {
                pic.src="{% static '8.jpeg' %}";
            }else if (i == 9) {
                pic.src="{% static '9.jpeg' %}";
            }
        }
    </script>
</body>
</html>