* {
    font-family: 'Comic Neue';
}

html, body{
    width:100%;
    height:100%;
    background-color: #46BCFB;
    background-image: url('/static/bg.png');
    background-repeat: repeat;
    background-size: 100px auto;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

h1{
    text-align: center;
    font-size: 55px;
    font-weight: bolder;
    color: white;
    -webkit-text-stroke: black 2px;
}

h2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #FBCB31;
    -webkit-text-stroke: black 1px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 14vh;
    width: 7vw;
    background-color: white;
    border-radius: 25px;
    border: solid 2px black;
}

.pictureBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 65vw;
    background-color: white;
    border-radius: 25px;
    border: solid 2px black;
}

#pic {
    max-height: 55vh;
    width: auto;
}

.submit{
    color: #0047FF;
    border: 2px solid #0047FF;
    background-color: white;
    border-radius: 15px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.submit:hover {
    background-color: #0047FF;
    color: white;
}